<body>

    <input type="checkbox" id="ck" />
    <label for="ck">
        <img src="menubar.png" id="menu">
    </label>
   
    <nav>
        <div class="home">
            <img src="imagens/Create/homeDK.png" class="icon">
            <label><a href=""><span>Início</span></a></label> <!-- Edit. <Span> -->
        </div>

        <div class="exer">
            <img src="imagens/Create/exDK.png" class="icon">
            <label><a href="">Exercícios</a></label>
        </div>

        <!-- <div class="item">
                <input type="checkbox"id="A" />
                    <img src="imagens/arrow.png" class="arrow">
                    <img src="imagens/pontos.png" class="icon">
                <label for="A">Pontos, Retas e Planos</label> 
                    <ul>
                        <li><a href="">Posições Relativas</a></li>
                        <li><a href="">Perpendicularidades</a></li>
                        <li><a href="">Determinação de um plano</a></li>
                        <li><a href="">Projeção Ortogonal</a></li>
                    </ul>
            </div> -->

        <div class="item">
            <input type="checkbox" id="B" />
            <img src="imagens/arrow.png" class="arrow">
            <img src="imagens/Create/cuboDK.png" class="icon">
            <label for="B">Poliedros</label>
            <ul>
                <li><a href="">Relação de Euler</a></li>
                <li><a href="">Área lateral e área total dos sólidos</a></li>
                <li><a href="">Simetria</a></li>
            </ul>
        </div>

        <div class="item">
            <input type="checkbox" id="C" />
            <img src="imagens/arrow.png" class="arrow">
            <img src="imagens/Create/prismaDK.png" class="icon">
            <label for="C">Prisma</label>
            <ul>
                <li><a href="">Introdução</a></li>
                <li><a href="">Paralelepipedo</a></li>
                <li><a href="">Áreas e Volume</a></li>
            </ul>
        </div>

        <div class="item">
            <input type="checkbox" id="D" />
            <img src="imagens/arrow.png" class="arrow">
            <img src="imagens/Create/piramideDK.png" class="icon">
            <label for="D">Pirâmide</label>
            <ul>
                <li><a href="">Introdução</a></li>
                <li><a href="">Áreas e Volume</a></li>
                <li><a href="">Tetraedro Regular</a></li> 
                <li><a href="">Sólidos Semelhantes</a></li> 
                <li><a href="">Tronco da pirâmide</a></li>
            </ul>
        </div>

        <div class="item">
            <input type="checkbox" id="E" />
            <img src="imagens/arrow.png" class="arrow">
            <img src="imagens/Create/cilindroDK.png" class="icon">
            <label for="E">Cilindro</label>
            <ul>
                <li><a href="">Introdução</a></li>
                <li><a href="">Áreas e Volume</a></li>
                <li><a href="">Seção meridiana e Cilindro Equilátero</a></li> 
            </ul>
        </div>

        <div class="item">
            <input type="checkbox" id="F" />
            <img src="imagens/arrow.png" class="arrow">
            <img src="imagens/Create/coneDK.png" class="icon">
            <label for="F">Cone</label>
            <ul>
                <li><a href="">Introdução</a></li>
                <li><a href="">Áreas e Volume</a></li>
                <li><a href="">Seção meridiana e cone Equilátero</a></li> 
                <li><a href="">Tronco do Cone</a></li>
                <li><a href="">Cones Semelhantes</a></li> 
            </ul>
        </div>

        <div class="item">
            <input type="checkbox" id="G" />
            <img src="imagens/arrow.png" class="arrow">
            <img src="imagens/Create/esferaDK.png" class="icon">
            <label for="G">Esfera</label>
            <ul>
                <li><a href="">Introdução</a></li>
                <li><a href="">Áreas e Volume</a></li>
                <li><a href="">Partes da esfera</a></li> 
            </ul>
        </div>
        </div>
    </nav>
</body>